.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
                | Continue with Github <!-- | 를 붙이면 element position에 텍스트를 넣을 수 있다-->
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
                | Continue with Facebook 
